numpy>=2.4.0,<2.5.0
pandas
matplotlib
scikit-learn
seaborn
requests
fastapi
uvicorn
sqlalchemy
pytest
xgboost
imbalanced-learn
mlflow
streamlit
lightgbm
plotly
docker
optuna
dvc
catboost
numba>=0.61.0
shap>=0.46.0
google-genai
